body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 95vw;
    max-width: 640px;
    aspect-ratio: 4/3;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    background: #000;
}

#webcam,
#output_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;

    transform: scaleX(-1);
}

#output_canvas {
    z-index: 10;
}

.ui-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    pointer-events: none;
}
#switch-camera-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

    cursor: pointer !important;
    pointer-events: auto;

    background-color: #2196f3;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#switch-camera-btn:hover {
    background-color: #1976d2;
    transform: scale(1.05);
}

#gesture-output {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
